*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container{
    width: 90%;
    max-width: 1000x;
    overflow: hidden;
    margin: 0 auto;
    padding: 40px 0;
}

.header{
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(115, 147, 169, 0.351) 0%, rgba(61, 164, 220, 0.329) 100%), url("/multimedia/victoria.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



.conte-textos{
    padding: 10%;
}

.nave-header{
    color: #fff ;
    height: 70px ;
    border-bottom: 1px solid rgb(255, 255, 255 0.1);
}

.nave-container{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    height: inherit;
    padding: 0;
} 

.logo{
    display: flex;
    margin-left: 30px;
}

.logo img{
    height: 150px;
    display: flex;
    align-items: row;
    justify-content: center;
    margin-right: 10px;
}

.links{
    font-size: 15px;
} 

.link{
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    padding: 40px;
}


.titulo{
    display: flex;
    align-items: center;
    font-size: 56px;
    font-weight: 300;
    color: #fff;
    padding: 30px;
}

.titulo-act{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.copy{
    font-size: 35px;
    font-weight: 300;
    color: rgb(254, 255, 255);
    text-shadow: rgb(113, 112, 112);
    margin: 15px 0;
    padding: 30px;
}

.btn1 {
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    padding: 10px 40px;
    border: 2px solid  #229353;
    color: #fff;
    text-decoration: none;
    background:  #229353;
}

.btn1:hover {
    background: none;
    
}

.btn1-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.btn {
    display: inline-block;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgb(40, 109, 194);
    color: #fff;
    text-decoration: none;
    background:rgb(40, 109, 194);
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}
/*Nuestro servicio*/

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: black;
    margin-bottom: 40px;
    font-size: 40px;
    color: rgb(90, 56, 56);
    padding: 30px;
}

.container-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.container-servicio img{
    width: 50%;
    height: 50%;
}

.checklist-servicio{
    width: 90%;
}
.servicio{
    margin-bottom: 20px;
}

.n-servicio{
    margin-bottom: 40px;
    font-size: 18px;
    padding: 0 100px;
    color: rgb(0, 0, 0);
}


.texto{
    display: inline-block;
    width: 500px;
    padding: 30px;
    margin-bottom: 0px;
    font-size: 25px;
}


/*Galeria*/

.galeria{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-size: cover;
    background-attachment: fixed;
}

.img-galeria{
    width:  30%;
    height: 20%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
} 

.Hallowen{
    font-size: 50px;
    color: #e96703;
    text-align: center;
    margin: 20px;
}


/*Footer*/

footer{
    background-color: rgba(102, 102, 102, 0.986);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: rgb(255, 255, 255);
}

.brand{
    font-weight: 500;
    font-size: 40px;
}


.social-media{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.social-media-icon{
    display: flex;
    color: #fff;
    ;
}




.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*contacto*/

.header-contacto{
    background: url(../multimedia/fondocontacto1.jpg);
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}



.conte .form .form-header .form-titulo {
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 0;
}

.conte .form .form-header .form-titulo {
    color:rgb(255, 255, 255);
}

.conte .form{
    background: rgba(155, 155, 155, 0.6);
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 5px 35px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.conte .form .form-label{
    display: block;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    position: relative;
}

.conte .form .form-input, .form-textarea{
    background: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    font-family:sans-serif;
}

.conte .form  .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.conte .form .btn-submit {
    width: 100%;
    outline: none;
    background: black;
    font-size: 16px;
    border: none;
    color:#fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}


.conte .form .btn-submit:hover {
    background: rgb(77, 131, 171);
}

/*boda 15años*/

.carousel{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 5px 35px;
    padding-bottom: 30px;
    border-radius: 3px;    
}

/*info*/

.header-info{
    height: 90%;
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(194, 74, 74, 0.351) 0%, rgba(40, 49, 53, 0.329) 100%);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

.infotext{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
    text-align: left;
}


@media (max-width: 820px) {

    .header{
        display: flex;
        flex-wrap: wrap;
    }
    

    .conte-titulo {
        margin-bottom: 0;
        font-size: 40px;
    }

    .links{
        display: flex;
        flex-direction: column;
    }


    
    .img-galeria{
        width: 45%;
    }
}

@media (max-width: 500px) {

    .conte-titulo {
        margin-bottom: 0;
        font-size: 20px;
    }

    .links{
        display: none;
    }

    .sau {
        height: 100vh;
    }

    .nave-header {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .img-galeria{
        width: 90%;
    }
}